<% content_for :page, "Call Log" %>
<%= form_for(@call_log) do |f| %>

  <div class="field">
    <%= f.label :math %>
    <%= f.check_box :math %>
  </div>

  <div class="field">
    <%= f.label :worksheet %>
    <%= f.check_box :worksheet %>
  </div>

  <div class="field">
    <%= f.label :stoodle %>
    <%= f.check_box :stoodle %>
  </div>

  <div class="field">
    <%= f.label :image_share %>
    <%= f.check_box :image_share %>
  </div>

  <div class="field">
    <%= f.label :textbook %> - dropdown
    <%= f.text_field :textbook %>
  </div>

  <div class="field">
    <%= f.label :page %>
    <%= f.number_field :page %>
  </div>

  <div class="field">
    <%= f.label :chaptitle %>
    <%= f.text_field :chaptitle %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :skill %> - dropdown
    <%= f.text_field :skill %>
  </div>

  <div class="field">
    <%= f.range_field :startknow, :min=>0, :max=>5 %>
</div>
  <div class="field">
    <%= f.label :endknow %> - dropdown
    <%= f.range_field :endknow, :min=>0, :max=>2, list: "steplist" %>
          <datalist id="steplist">
    <option>0</option>
    <option>1</option>
    <option>2</option>
    </datalist>
  </div>

  <div class="actions">
    <%= f.submit "Click when call is finished"%>
  </div>
<% end %>
<style type="text/css">}
input[type="range"]::-ms-fill-lower {
  background: transparent;
}
input[type='range']:focus {
  outline: none;
}
  input[type=range] {
  -webkit-appearance: none;
  width: 500px;
  margin: 4.5px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 500px;
  height: 6px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0), 0px 0px 5px rgba(13, 13, 13, 0);
  background: #f2f2f2;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #45ef96;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f7f7f7;
}
input[type=range]::-moz-range-track {
  width: 500px;
  height: 6px;
  cursor: pointer;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0), 0px 0px 5px rgba(13, 13, 13, 0);
  background: #f2f2f2;
  border-radius: 0px;
  border: 0px solid rgba(0, 0, 0, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #45ef96;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 500px;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0), 0px 0px 5px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #f2f2f2;
  border: 0px solid rgba(0, 0, 0, 0);
  border-radius: 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0), 0px 0px 5px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  border: 0px solid rgba(0, 0, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #45ef96;
  cursor: pointer;
  height: 6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f2f2f2;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f7f7f7;
}
</style>