  <%= content_for :page, "Call Log" %>
  <div class="parent">
  <%= form_for(@call_log,:html=>{:class=>"firstform",:multipart => true}) do |f| %>
    <%= f.text_field :codename, :required => true, placeholder: "Codename", class: "input" %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :date, :value => Date.today %>
    <%= f.hidden_field :starttime, :value => Time.now.strftime("%k:%M:%S") %>
    <%= f.submit "CONTINUE", class: "button" %>
    <% end %>
    </div>
    <style type="text/css">
    	  .input {
    border: none;
    background-color:#f2f2f2;
    color:#333;
    width: 279px;
    height: 45px;
    margin-bottom: 15px;
    border-left: #f2f2f2 solid 3px;
    border-right: #f2f2f2 solid 3px;
    font-size: 22px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding-left: 12px;
    letter-spacing: .5px;
    transition: all 220ms ease-in-out
  }
  .parent {
    width: 300px;
    margin-left: -150px;
    left: 50%;
    position: relative;
    top: 30px;
  }
  .button {
  width: 150px;
  text-align: center;
  font-size: 20px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  padding: 10px 0;
  letter-spacing: 2px;
  color: #fff;
  background-color: #65ef96;
  text-shadow: none;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  position: relative;
  margin-left: -75px;
  left: 50%;
  transition: all 150ms ease-in-out;
  margin-bottom:50px;
  }
  .button:hover{ 
    background-color:#5CDA89;

  }
  ::-webkit-input-placeholder {
    color: #ccc;
    opacity: 1 !important;
}
textarea:focus, input:focus{
    outline: none;
    border-left: #45ef96 solid 5px;
    padding-left: 10px;
}
    </style>