<p id="notice"><%= notice %></p>

<p>
  <strong>Entered by:</strong>
  <%= @call_log.entered_by %>
</p>

<p>
  <strong>Date:</strong>
  <%= @call_log.date %>
</p>

<p>
  <strong>Starttime:</strong>
  <%= @call_log.starttime %>
</p>

<p>
  <strong>Endtime:</strong>
  <%= @call_log.endtime %>
</p>

<p>
  <strong>Int:</strong>
  <%= @call_log.user_id %>
</p>

<p>
  <strong>Math:</strong>
  <%= @call_log.math %>
</p>

<p>
  <strong>Worksheet:</strong>
  <%= @call_log.worksheet %>
</p>

<p>
  <strong>Stoodle:</strong>
  <%= @call_log.stoodle %>
</p>

<p>
  <strong>Image share:</strong>
  <%= @call_log.image_share %>
</p>

<p>
  <strong>Textbook:</strong>
  <%= @call_log.textbook %>
</p>

<p>
  <strong>Page:</strong>
  <%= @call_log.page %>
</p>

<p>
  <strong>Chaptitle:</strong>
  <%= @call_log.chaptitle %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @call_log.notes %>
</p>

<p>
  <strong>Skill:</strong>
  <%= @call_log.skill %>
</p>

<p>
  <strong>Startknow:</strong>
  <%= @call_log.startknow %>
</p>

<p>
  <strong>Endknow:</strong>
  <%= @call_log.endknow %>
</p>

<%= link_to 'Edit', edit_call_log_path(@call_log) %> |
<%= link_to 'Back', call_logs_path %>
