
          <%= link_to'Logout', destroy_user_session_path, :method => :delete %>
  <% unless current_user.admin? %>
  	<%= link_to "Time Clock", time_clocks_path %>
  <% end %>
  <% if current_user.studentvol? %>
  <h1 style="line-height: 35px;">Hello, <%= current_user.firstname.capitalize %>. Thank you for volunteering! Clock in if you want, but please click the link to begin filling out school information.</h1>
  <br>
  <%= link_to "Add School", new_school_path, class:"school" %>
<% elsif current_user.teacher? || current_user.hotlineteacher? %>
  <% if current_user.teacher? && current_user.men.nil? %>
  <h2>Please finish filling the out the form below <%= current_user.firstname %></h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= f.label :district %>
    <%= f.select :district, [["MNPS"]], autofocus: true %>
  </div>

  <div class="field">
    Metro Employee Number<br />
    <%= f.number_field :men, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :school %>
    <%= f.text_field :school, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
  <% else %>
  <h1>Hello, <%= current_user.firstname.capitalize %>. Welcome back. Take a call, and fill out the form below.</h1>
  <% end %>
<% elsif current_user.admin? %>
  <h1>Welcome back, <%= current_user.firstname.capitalize %>.</h1><br><br>
  <%= form_for(@mnps_report) do |f| %>
  <%= f.hidden_field :var, :value => 1 %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :billdate, :value => Date.today %>
  <h3>Employees</h3>
  <% User.where.not(role: :admin).each do |user| %>
  <%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %><br>
  <% end %><br>
  <div class="pay">
    <%= f.submit "Pay All Employees", style: "display:inline-block" %>
    <% @users.where.not(role: :admin).each do |user| %>
      <% user.time_clocks.each do |time| %>
        <% if !time.clock_in.nil? && time.clock_out.nil? %>
          <p style="color: red; display: inline-block;">A user has not clocked out!</p>
        <% end %>
      <% end %>
    <% end %>
  </div><br>
  <%= link_to home_timesheets_path do %>
  <button style="display: inline-block;">Employee Timesheets</button>
  <% end %>
  <br>
  <% end %><hr width="20%" style="float: left;"><br>
  <h2>Promote user to admin</h2>
  <% @users =  User.where.not(role: "admin").to_a %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.select :district, options_for_select(@users.collect { | user | ["#{user.firstname} #{user.lastname}" , user.id] })%>
    <%= f.submit "Promote!" %>
  </div>
  <% end %>
  <br><hr width="20%" style="float: left;"><br>
  <%= form_for(@search) do |f| %>
  <div class="field">
    <h2>Search:</h2>
    <%= f.select :model, options_for_select([["Schools", "School"], ["Principal Reports", "Principal"], ["Time Sheet Reports", "MnpsReport"]]) %>
    <%= f.submit "Begin Search" %>
    </div>
<% end %>

<% end %>
<% if @current_clock.exists? %>
<br><br>
<table>
  <thead>
    <tr>
      <th>Clock in</th>
      <th>Clock out</th>
      <th>Date</th>
      <th>Hours</th>
    </tr>
  </thead>

  <tbody>
    <% @current_clock.each do |time_clock| %>
      <tr>
        <td><%= time_clock.clock_in.strftime("%l:%M") %></td>
        <% if time_clock.clock_out.nil? %>
        <td><%= time_clock.clock_out %></td>
        <% else %>
        <td><%= time_clock.clock_out.strftime("%l:%M") %></td>
        <% end %>
        <td><%= time_clock.date.strftime("%B %-d, %Y") %></td>
        <td><%= time_clock.hours %></td>
        <% if time_clock.clock_out.nil? %>
        <td><%= form_for(time_clock) do |f| %>
     <%= f.hidden_field :user_id, :value => current_user.id %>

  <div class="actions">
    <%= f.submit "Clock Out" %>
  </div>
<% end %><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<% unless current_user.admin? %>
<%= form_for(@time_clock) do |f| %>

    <%= f.hidden_field :date, :value => Date.today.to_s %>

  <div class="actions">
    <%= f.submit "Clock in"%>
  </div>
  <% end %>
    <%= form_for(@call_log) do |f| %>
    <%= f.text_field :codename %>
    <%= f.submit "Start Call" %>
    <% end %>
  <% end %>
<% end %>
<style type="text/css">
  .pay {
    float: center;
  }
  .school {
    font-size: 20px;
  }
</style>