<% content_for :title, "Home" %>
<% content_for :page, "Home" %>
<%= link_to'Logout', destroy_user_session_path, :method => :delete %>
  	<%= link_to "Time Clock", time_clocks_path %>
  <h1>Welcome back, <%= current_user.firstname.capitalize %>.</h1><br><br>
    <h3>Employees</h3>
  <% User.where.not(id: current_user.id).each do |user| %>
  <%= link_to "#{user.firstname} #{user.lastname}", user_path(user) %><br>
  <% end %><br>
 <div class="pay">
  <%= form_for(@mnps_report) do |f| %>
  <%= f.hidden_field :var, :value => 1 %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.hidden_field :billdate, :value => Date.today %>
    <%= f.submit "Pay All Employees" %>
    <% @users.where.not(role: :administrator).each do |user| %>
      <% user.time_clocks.each do |time| %>
        <% if time.clock_in && time.clock_out.nil? %>
          <p style="color: red; display: inline-block;">A user has not clocked out!</p>
        <% end %>
      <% end %>
    <% end %>
  </div><br>
  <div class="pay">
  <%= link_to home_timesheets_path do %>
  <button>Employee Timesheets</button>
  <% end %>
  </div>
  <br>
  <% end %><hr width="20%" style="float: left;"><br>
  <h2>Promote user to admin</h2>
  <% @users =  User.where.not(role: "admin").to_a %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="field">
    <%= f.select :district, options_for_select(@users.collect { | user | ["#{user.firstname} #{user.lastname}" , user.id] })%>
    <%= f.submit "Promote!" %>
  </div>
  <% end %>
  <br><hr width="20%" style="float: left;"><br>
  <%= form_for(@search, :html=>{:class=>"searchform",:multipart => true,:remote=>true}) do |f| %>
  <div class="field">
    <h2>Search:</h2>
    <%= f.select :model, options_for_select([["Schools", "School"], ["Students", "Student"], ["Principal Reports", "Principal"], ["Time Sheet Reports", "MnpsReport"]]) %>
    <%= f.submit "Begin Search" %>
    </div>
<% end %>
<style type="text/css">
  .pay {
    float: center;
    display: inline-block;
  }
  .school {
    font-size: 20px;
  }
</style>
<script type="text/javascript">
  $(document).ready(function() {
    $('.load').hide();
    $('button').click(function() {
      $('body > :not(.load)').hide(); 
      $('.load').show();
    });
  });
</script>
<div class="one load">
  <div class="two load">
    <div class="three load"></div>
  </div>
</div>