<h3 class="district"><%= @user.district %></h3>
<h4 class="heading">Metro Nashville Extended Contract<br>
Session Accountability Form for Teachers</h4>
<div class="topdiv">
	<p class="name"><strong><%= @user.lastname %>, <%= @user.firstname %></strong></p>
	<p class="men"><strong>Metro Employee #: <u><%= @user.men %></u></strong></p>
</div>
<table class="maintable" style="width:70%">
  <tr>
    <th>Date</th>
    <th>Time In</th> 
    <th>Time Out</th>
    <th># of Hours</th>
  </tr>
  <% @user.mnps_reports.each do |metareport| %>
  <% metareport.time_clocks.each do |report| %>
  <tr>
    <td><%= report.date.strftime("%-m/%-d/%y") %></td>
    <td><%= report.clock_in.strftime("%l:%M") %></td>
    <td><%= report.clock_out.strftime("%l:%M") %></td>
    <td><%= report.hours %></td>
  </tr>
  <% end %>
  <% end %>
</table>
<%= @yearwork %>
<table class="prevtable" style="width:30%">
  <tr>
    <th>Date</th>
    <th>Hours</th> 
  </tr>
  <h3 class="right">Previously Billed</h3>
  <% @user.mnps_reports.each do |report| %>
  <tr>
    <td><%= report.billdate.strftime("%-m/%-d/%y") %></td>
    <td><%= report.hours %></td>
  </tr>
  <% end %>
</table>
<h4>Hours Worked:<br><br><%= @totalhours %></h4>
<h4>Amount Billed:<br><br><%= @mnps_report.hours %></h4>
<h4>Previously Billed:<br><br><%= @prevbill %></h4>
<style>
table, th, td {
    border: .5px solid black;
    border-collapse: collapse;
    text-align: center;

}
.maintable{
	position: relative;
    margin-left: -40%;
    left: 36%;
    top: 10px
}
.right {
	float: right;
	position: relative;
	margin-right: 20px;
	bottom: 50px;
}
.prevtable {
	position: relative;
	left: 70%;
	top: 0px;
}
.heading {
	text-align: center;
}
.topdiv {
	width: 550px;
	height: 50px;
	border: 1px solid black;
	position: relative;
	left: 0px;
}
.name {
	position: relative;
	bottom: 20px;
}
.men {
	position: relative;
	bottom: 70px;
	left: 200px;
}
.district {
	border: 1px solid black;
	margin-right: 550px;
	text-align: left;
	margin-top:10px;
}
</style>