<h1>Searching...</h1>
 <% if @search.model == "School" %>
  <%= form_for(@search) do |f| %>
  <div class="field">
    <%= f.select :select, options_for_select([["Percent of Economically Disabled Students", "peds"], ["Census", "census"], ["Projected Number of Third Grader Students", "ptgs"], ["Sonic Partner", "sonicpartner"], ["Title 1", "titlei"], ["Appalachain", "appalreg"]]) %>
    <%= f.text_field :search %>
    <%= f.submit "Finish Search" %>
    </div>
<% end %>
 <% elsif @search.model == "Principal" %>
  <%= form_for(@search) do |f| %>
  <div class="field">
    <%= f.select :select, options_for_select([["Percent of Economically Disabled Students", "peds"], ["Census", "census"], ["Projected Number of Third Grader Students", "ptgs"], ["Sonic Partner", "sonicpartner"], ["Title 1", "titlei"], ["Appalachain", "appalreg"]]) %>
    <%= f.text_field :search %>
    <%= f.submit "Finish Search" %>
    </div>
<% end %>
<% else %>
  <%= form_for(@search) do |f| %>
  <div class="field">
    <%= f.select :select, options_for_select([["Employee Role", "role"]]) %>
    <%= f.select :search, options_for_select([["Metro Teacher", 2], ["Hotline Teacher", 1], ["Volunteer", 0]]) %>
    <%= f.submit "Finish Search" %>
    </div>
<% end %>
<% end %>
