<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @school.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @school.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @school.zip %>
</p>

<p>
  <strong>County:</strong>
  <%= @school.county %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Principal:</strong>
  <%= @school.principal %>
</p>

<p>
  <strong>Principalemail:</strong>
  <%= @school.principalemail %>
</p>

<p>
  <strong>Sonic:</strong>
  <%= @school.sonic %>
</p>

<p>
  <strong>Peds:</strong>
  <%= @school.peds %>
</p>

<p>
  <strong>Census:</strong>
  <%= @school.census %>
</p>

<p>
  <strong>Ptgs:</strong>
  <%= @school.ptgs %>
</p>

<p>
  <strong>Appalreg:</strong>
  <%= @school.appalreg %>
</p>

<p>
  <strong>Titlei:</strong>
  <%= @school.titlei %>
</p>

<p>
  <strong>Sbdistrict:</strong>
  <%= @school.sbdistrict %>
</p>

<p>
  <strong>Ccdistrict:</strong>
  <%= @school.ccdistrict %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
