<%= form_for(time_clock) do |f| %>
  <% if time_clock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_clock.errors.count, "error") %> prohibited this time_clock from being saved:</h2>

      <ul>
      <% time_clock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :clock_in, :value => Time.now.strftime("%I:%M:%S") %>
    <%= f.hidden_field :user_id, value: current_user.id.to_i %>
    <%= f.hidden_field :date, :value => Date.today.to_s %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
