<!DOCTYPE html>
<html>
  <head>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,500,600,700,700i,900,900i" rel="stylesheet">
    <title><%= yield(:title) %> | Homework Hotline</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
  <div class="infoparent">
  <%= image_tag "hhcircle.png", style: "width:60px; display:inline-block" %><h1 style="display: inline-block; margin-left: 10px; position: relative;bottom: 18px;font-size: 30px;"><%= yield(:page) %></h1>
<div class="name"><%= current_user.firstname.capitalize%> <%= current_user.lastname.capitalize%></div>
<div class="title"><%= current_user.role.to_s.tr('_', ' ').upcase %></div>
</div><br><br>
<% end %>
    <%= yield %>
    <style type="text/css">
      a {
  color:#00b7ff !important;
  text-decoration: none !important;
}
a:hover {
  background-color: white !important;
  color: #0089bf !important;
}
p,h1,h2,h3,h4,h5,h6,li,a {
  font-family: 'Lato', sans-serif;
}
.footer {
  position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%;
  background-color: #f2f2f2;
  padding: 15px 16px;
  font-size: 16px;
  color: #ccc;
  text-align:center;
  font-family: Lato;
  font-weight: 500;
  letter-spacing: 3px;
  margin-left: -80px;
}
.infoparent {
  margin-left: 45px;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 48px;
    margin-left: 80px; /* bottom = footer height */
    margin-left: 80px;
}
.name {
  width: 260px;
  background:#65ef96;
  font-size: 30px;
  font-family: Lato;
  font-weight: 600;
  padding: 15px 0;
  padding-left: 20px;
  text-align:left;
  letter-spacing: 1px;
  position: relative;
  top: 20px;
}
.title {
  width: 180px;
  background:#f2f2f2;
  font-size: 13.5px;
  font-family: Lato;
  font-weight: 500;
  padding: 5px 0;
  text-align:center;
  letter-spacing: 1px;
  position: relative;
  top: 20px;
}
  .three {
    width: 20px;
    height: 20px;
    background-color: #45ef96;
    -webkit-animation:spin 8s ease-in-out infinite;
        -moz-animation:spin 8s ease-in-out infinite;
      animation:spin 8s ease-in-out infinite;
  }
  .two {
    width: 40px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation:spin 4s ease-in-out infinite;
        -moz-animation:spin 4s ease-in-out infinite;
      animation:spin 4s ease-in-out infinite;
  }
  @-moz-keyframes back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
  .one {
    width: 60px;
    height: 60px;
    background-color: #45ef96;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-animation:spin 2s ease-in-out infinite;
        -moz-animation:spin 2s ease-in-out infinite;
      animation:spin 2s ease-in-out infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
</style>
    <div class="footer">(C) 2017 HOMEWORK HOTLINE</div>
  </body>
</html>
